body {
    text-align: center;
    margin: 2rem;
    background: #C57965;
    background: linear-gradient(to right, #C57965 0%, #AD6BA7 50%, #915CF5 100%);
    color: midnightblue;
    scroll-behavior: smooth;
}

div {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

select {
    align-self: center;
    border-radius: 10px;
    height: 1.5rem;
}

img.logo {
    width: 15rem;
}

img.cameraPicture {
    width: 350px;
    align-self: center;
    margin: 1rem 0;
    border-radius: 20px;
    transition: all .2s ease-in-out;
}

img.cameraPicture:hover {
    transform: scale(1.1);
}

img:hover {
    cursor: pointer;
}

@media (max-width: 500px) {
    .cameraPicture {
        width: 180px;
    }
}

.media {
    width: 3rem;
    margin: 1rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 6rem;
}

main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

form {
    padding: 12px 20px;
    margin: 8px 0;
    text-align: left;
    width: 30%;
}

input {
    align-self: center;
    border-radius: 10px;
    border: 1px solid midnightblue;
    height: 1.5rem;
}

input:hover {
    cursor: pointer;
}

#articles {
    width: 30px;
}

.total {
    margin-top: 2rem;
}

.confirmation {
    font-size: x-large;
    margin: 15rem;
    line-height: 2rem;
}

.priceElt {
    margin: 10px;
    align-self: center;
    font-style: normal;
}

.cameraElement {
    object-fit: contain;
    height: 14rem;
    width: 20rem;
}

.imgElement {
    object-fit: contain;
}

#formSection {
    height: 24rem;
    width: 15rem;
}

label {
    align-self: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-style: italic;
}

@media (max-width: 720px) {
    #formSection {
        margin-top: 2rem;
    }
}

#eMail {
    margin-bottom: 2rem;
}

#clearBasket {
    height: 2rem;
    width: 8rem;
}

#clearButtonSection {
    width: 80rem;
    margin: 2rem;
}

#clearButton {
    border-radius: 10px;
    height: 2rem;
    border: 2px solid;
}

#cartSection {
    padding: 0 1rem;
    width: 80rem;
}

h2 {
    margin: 2rem 0;
}

span {
    width: 22rem;
    align-self: center;
    font-style: italic;
}

#paiement {
    width: 153px;
    height: 2rem;
    border: solid 2px midnightblue;
    background: lightsteelblue;
}

#clearButton {
    width: 153px;
    background: plum;
}

#message {
    font-size: x-large;
    margin-top: 5rem;
}

.addToBasketButton {
    margin-top: 2rem;
    border: solid 2px midnightblue;
    height: 2rem;
    background: lightsteelblue;
    color: midnightblue;
    border-radius: 10px;
}

h3 {
    margin-bottom: 0;
}

#finalPrice {
    align-self: center;
    font-style: italic;
    margin-bottom: 1rem;
}

#message {
    line-height: 2.5rem;
}

.shoppingCartButton {
    border: solid 2px midnightblue;
    height: 2rem;
    background: lightsteelblue;
    color: midnightblue;
    border-radius: 10px;
}

#showFinalPrice {
    margin: 1rem;
    font-weight: bold;
}