@font-face {
    font-family: 'Daily Challenge DEMO';
    src: url('./DailyChallenge/DailyChallengeDEMO-Regular.eot');
    src: url('./DailyChallenge/DailyChallengeDEMO-Regular.eot?#iefix') format('embedded-opentype'),
    url('./DailyChallenge/DailyChallengeDEMO-Regular.woff2') format('woff2'),
    url('./DailyChallenge/DailyChallengeDEMO-Regular.woff') format('woff'),
    url('./DailyChallenge/DailyChallengeDEMO-Regular.ttf') format('truetype'),
    url('./DailyChallenge/DailyChallengeDEMO-Regular.svg#DailyChallengeDEMO-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    text-align: center;
    margin: 2rem;
    font-family: "Daily Challenge DEMO", sans-serif;
    background: #C57965;
    background: -moz-linear-gradient(left, #C57965 0%, #AD6BA7 50%, #915CF5 100%);
    background: -webkit-linear-gradient(left, #C57965 0%, #AD6BA7 50%, #915CF5 100%);
    background: linear-gradient(to right, #C57965 0%, #AD6BA7 50%, #915CF5 100%);
}

div {
    display: flex;
    flex-direction: column;
}

select {
    width: 83px;
    align-self: center;
}

img.logo {
    width: 15rem;
}

img.cameraPicture {
    width: 350px;
    align-self: center;
    margin: 1rem 0;
}

img:hover {
    cursor: pointer;
}

@media (max-width: 500px) {
    .cameraPicture {
        width: 180px;
    }
}

.media {
    width: 3rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
}

main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

form {
    padding: 12px 20px;
    margin: 8px 0;
    text-align: left;
    width: 30%;
}

input {
    align-self: center;
}

input:hover {
    cursor: pointer;
}

#articles {
    width: 30px;
}

.total {
    margin-top: 2rem;
}

.confirmation {
    font-size: x-large;
    margin: 15rem;
    line-height: 2rem;
}

.priceElt {
    margin-top: 10px;
    align-self: center;
}

.cameraElement {
    object-fit: contain;
    height: 14rem;
    width: 20rem;
}

.imgElement {
    object-fit: contain;
}

#formSection {
    height: 24rem;
    width: 15rem;
}

label {
    align-self: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

@media (max-width: 720px) {
    #formSection {
        margin-top: 2rem;
    }
}

#eMail {
    margin-bottom: 2rem;
}

#clearBasket {
    height: 2rem;
    width: 8rem;
}

#clearButtonSection {
    width: 80rem;
    margin: 2rem;
}

#cartSection {
    padding: 0 1rem;
    width: 80rem;
}

h2 {
    margin: 2rem 0;
}

span {
    width: 22rem;
    align-self: center;
}

#paiement {
    width: 153px
}

#clearButton {
    width: 153px;
}

#message {
    font-size: larger;
    margin-top: 2rem;
}

.addToBasketButton {
    margin-top: 2rem;
}

h3 {
    margin-bottom: 0;
}

#finalPrice {
    margin: 2rem AUTO;
    align-self: center;
    font-style: italic;
}

#message {
    line-height: 2.5rem;
}